// ===========
// Mixins
// ===========


@mixin respond-to($breakpoint) {  
  @if $breakpoint == phablet {  
    @media only screen and (min-width: $breakpoint-phablet) { @content; }
  }
  @else if $breakpoint == medium-screen {  
    @media only screen and (min-width: $breakpoint-medium-screen) { @content; }
  }
  @else if $breakpoint == wide-screen {  
    @media only screen and (min-width: $breakpoint-wide-screen) and (min-height: $height-wide + 200px) { @content; }
  }
  @else if $breakpoint == medium-screen-inv {  
    @media only screen and (max-width: $breakpoint-medium-screen - 1px) { @content; }
  }
  @else if $breakpoint == high-medium-screen {  
    @media only screen and (min-height: $height-medium + 200px) { @content; }
  }
}