// bower:scss
// endbower

$black: #292929;
$gray: #757575;
$lightgray: #c2c2c2;
$darkred: #632921;
$red: #8A382D;
$lightred: #B24739;

$width-medium: 738px;
$width-wide: 940px;
$height-medium: 400px;
$height-wide: 450px;

$trans-duration: 300ms;

$breakpoint-phablet: 480px;
$breakpoint-medium-screen: 768px;
$breakpoint-wide-screen: 1140px;


@import "mixins.scss";


*, *:before, *:after {
    box-sizing: border-box;
}

//Standard font and background image
html {
    font-size: 12px;
    height: 100%; /* fix chrome full page height */
}
body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    color: $black;
    background: #f0f0f0;
}

@include respond-to(phablet) {
    html {
        font-size: 14px;
    }
}
@include respond-to(medium-screen) {
    html {
        transition: background $trans-duration;
        background: $black url(../images/background.jpg) no-repeat center center fixed;
        background-size: cover; /* full page backoungrd */
        //transform: translate3d(0,0,0); /* Enable hardware acceleration */ //not working in chrome mobile
        font-size: 14px;
    }
    body {
        background: none;
    }
}
@include respond-to(wide-screen) {
    html {
        font-size: 16px;
    }
}

//Link styling
a {
    padding: 4px 2px 0;
    text-decoration: none;
    color: $red;
    border-radius:2px;
    font-size: 1.2em;
    transition: all $trans-duration;
    &:hover, &:focus, &:active {
        background: $lightred;
        color: white;
    }
}

//Standard styling
h1, h2, h3 {
    font-size: 2.5em;
    line-height: 1;
    font-weight: 600;
}
h2 {
    font-size: 2em;
}
h3 {
    color: $gray;
    font-size: 1.2em;
}
p {
    color: $gray;
}

//Skip links (aria tab links)
nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 990;
    ul {
        margin: 0; padding: 0;
        list-style: none;
        li {
            display:inline;
        }
    }
    a {
        display: inline-block;
        width: 33.33333%;
        padding: .2em .4em;
        background: rgba($lightgray, 0.85);
        border-radius: 0;
        position: relative;
        left: -9999px;
        transition: background $trans-duration, color $trans-duration;
        &:focus {
            outline: 0;
            left: auto;
        }
    }
}

//Cards
.vcard {
    position: relative;
    background-color: white;
    margin:8px;
    padding: 20px 10px;
    border-top:6px solid $darkred;
    box-shadow: 0 0 1px $lightgray; /* Light border */
    //overflow: hidden;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;

    @include respond-to(medium-screen) {
        //Vertical page center
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto;

        background-color: rgba(255, 255, 255, 0.85);
        width: $width-medium;
        height: $height-medium+8px;
        border-top-width: 8px;
        padding: 2em;

        line-height: 1.5;
        text-align: left;

        box-shadow:
            0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
            0 10px 0 -5px rgba(255, 255, 255, 0.7), /* The second layer */
            0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
            0 20px 0 -10px rgba(255, 255, 255, 0.5), /* The third layer */
            0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
    }
    @include respond-to(wide-screen) {
        width: $width-wide;
        height: $height-wide+8px;
    }
}

//Transition of vcards
@include respond-to(medium-screen) {
    .js .wrapper {
        //Hide all but current
        visibility: hidden;
        opacity: 0;
        transition: visibility $trans-duration, opacity $trans-duration;
        &.current {
            visibility: visible;
            opacity: 1;
        }
    }
}

//Navigation arrows (invisible on mobile)
.nav__prev, .nav__next {
    display: none;
}
@include respond-to(medium-screen) {
    .nav__prev, .nav__next {
        position: absolute;
        
        /* top right corner of vcard */
        right: .5em;
        top: .5em;

        display: block;
        background: $lightgray;
        color: $black;
        text-align: center;
        font-size: 1.2em;
        height:2em;
        width:2em;
        margin-left:-1em;
        padding: 0.3em .5em;
        border-radius: 1em;
        transform: translate3d(0,0,0); /* Enable hardware acceleration */
        &:hover, &:focus {
            background: $lightred;
        }
    }
    .nav__prev {
        right: 3em;
    }
}
//If high enough move above/below vcard
@include respond-to(high-medium-screen) {
    .nav__prev, .nav__next {
        background: rgba($lightgray, 0.7);
        left: 50%;
        top: -3em;
        right: auto;
    }
    .nav__next {
        top: auto;
        bottom: -3em;
    }
}

//Fallback version if javascript is disabled
@include respond-to(medium-screen) {
    .no-js {
        body, main { //html is already 100%
            height:100%;
        }
        .wrapper {
            position: relative;
            width: 100%;
            min-height: 100%;
        }
    }
}

//Pages
.vcard {
    #vcard & {
        
    }
    #profiles & {
        border-color: $red;
        padding-left: 5%;
        padding-right: 5%;
    }
    #contactform & {
        border-color: $lightred;
        padding-left: 5%;
        padding-right: 5%;
    }
    @include respond-to(medium-screen) {
        #vcard & {
            padding-left: 340px;
        }
        #profiles & {
            box-shadow:
                0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
                0 -1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
                0 10px 0 -5px rgba(255, 255, 255, 0.7), /* The second layer */
                0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
                0 -10px 0 -5px rgba(255, 255, 255, 0.7), /* The second layer */
                0 -10px 1px -4px rgba(0,0,0,0.15); /* The second layer shadow */
        }
        #contactform & {
            box-shadow:
                0 -1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
                0 -10px 0 -5px rgba(255, 255, 255, 0.7), /* The second layer */
                0 -10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
                0 -20px 0 -10px rgba(255, 255, 255, 0.5), /* The third layer */
                0 -20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
        }
    }
    @include respond-to(wide-screen) {
        #vcard & {
            padding-left: 400px;
        }
    }
}

//Make sure that everything is visible on small screen when resizing
@include respond-to(medium-screen-inv) {
    .vcard {
        opacity: 1 !important;
        visibility: visible !important;
    }
}

//Avatar image on front page with profile buttons
.avatar {
    .avatar__buttons, .avatar--big {
        display: none;
    }
    .avatar--small {
        height: 100px;
        border-radius: 50px;
        border: 6px solid $lightgray;
        background: $lightgray; /* avoid small white border due to border-radius */
    }
    @include respond-to(phablet) {
        .avatar--small {
            height: 160px;
            border-radius: 80px;
        }
    }
    @include respond-to(medium-screen) {
        position: absolute;
        top: 0;
        left: 0;
        height: $height-medium;
        .avatar--big {
            display: inline;
            height: $height-medium;
        }
        .avatar--small {
            display: none;
        }
        .avatar__buttons {
            display: block;
            transition: opacity $trans-duration;
            position: absolute;
            left: 32px;
            right: 32px;
            bottom: 32px;
            line-height: 1;
            // opacity: 0;
            // background: rgba($darkred, 0.85);
            border-radius: 2px;
            overflow: hidden;
            // transform: translate3d(0,0,0); /* Enable hardware acceleration */
        }
        &:hover a, &:focus a {
            opacity: 1;
        }
        a {
            opacity: 0;
            display: inline-block;
            background: rgba($darkred, 0.85);
            width:25%;
            padding:10px 0 6px;
            margin: 0;
            text-align: center;
            color: white;
            border-radius: 0;
            &:hover, &:focus {
                opacity: 1;
                color: $lightred;
            }
        }
    }
    @include respond-to(wide-screen) {
        &, .avatar--big {
            height: $height-wide;
        }
    }
}

//E-Mail address
.email a {
    padding-bottom: 3px;
    margin-left: -2px;
    //transform: translate3d(0,0,0); /* Enable hardware acceleration */
}

//Tag Cloud
.tags {
    span {
        margin-right: .5em;
    }
}

//Profile list
.profiles__list {
    text-align: left;
    padding: 0;
    line-height: 1;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul {
        margin-left: 42%;
        padding: 0;
    }
    h3 {
        float: left;
        width: 40%;
        margin: .6em 0;
        text-align: right;
        white-space: nowrap;
    }
    a {
        display: block;
        margin-bottom: .2em;
        white-space: nowrap;
        .text {
            position: relative;
            font-size: .9em;
            top: -.1em;
        }
        &.telephone {
            speak-numeral: digits;
        }
    }
    .fa {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        text-align: center;
        padding: .3em 0 0;
    }
}

@include respond-to(medium-screen) {
    .profiles__links {
        clear: both;
        ul {
            margin-left: 0;
            text-align: right;
            width: 30%;
        }
        ul li {
            display: inline;
        }
        h3 {
            float: right;
            text-align: left;
            width: 65%;
        }
        a {
            display: inline-block;
            margin-bottom: 0;
            width: 1.8em;
            height: 1.8em;
            position: relative;
            border-radius: 2px 0 0 2px;
            .text {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                left: 80%;
                top: 0;
                bottom: 0;
                z-index: 99;
                transition: all $trans-duration;
                pointer-events: none;

                background: rgba($gray, .85);
                color: white;
                border-radius: 0 2px 2px 0;
                padding: .6em;
                text-align: left;
            }
            &:hover, &:focus {
                .text {
                    visibility: visible;
                    opacity: 1;
                    left: 100%;
                }
            }
        }
    }
}

@include respond-to(medium-screen) {
    .profiles__connect {
        h3 {
            display: none;
        }
        ul {
            margin: 0;
            position: absolute;
            top:4em;
            right:0;
            overflow: hidden;
        }
        a {
            padding-right: .8em;
            border-radius: 2px 0 0 2px;
            transform: translate3d(0,0,0); /* Enable hardware acceleration */
        }
    }
    .no-touch .profiles__connect {
        ul li {
            position: relative;
            left:100%;
        }
        a {
            position: relative;
            right:3.2em;
            .text {
                left: 5em;
                transition: left $trans-duration;
                color: white;
            }
            &:hover, &:focus {
                right:100%;
                .text {
                    left: 0;
                }
            }
        }
    }
}

//Contact form
[class^="column"] {
    
}
.contactform__element {
    position: relative;
}
.honeypot {
    display: none;
}
input, textarea {
    display: block;
    width: 100%;
    height: 2.5em;

    background: #f0f0f0;
    color: $black;

    border: 1px solid transparent;
    border-radius: 0; /* for firefox mobile */
    padding: .5em;
    margin: 1em 0;
    transition: all $trans-duration;
    + label {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 80%;
        transition: all $trans-duration;
        pointer-events: none;

        background: rgba($gray, .85);
        color: white;
        border-radius: 2px 2px 0 0;
        padding: .1em .6em;
    }
    &:focus {
        outline: 0;
        border: 1px solid rgba($gray, .85);
    }
    &:focus + label {
        visibility: visible;
        opacity: 1;
        bottom: 100%;
    }
}
textarea {
    height:6em;
}
input[type="submit"] {
    background: $black;
    color: white;
    font-weight: 600;
    &:hover, &:focus, &:active {
        background: $lightred;
        border: 0;
    }
}

@include respond-to(medium-screen) {
    .column6 {
        float: left;
        width: 50%;
        padding: 0 0 0 .5em;
        &:first-child {
            padding: 0 .5em 0 0;
        }
    }
    .column12 {
        clear:both;
    }
    input, textarea {
        margin: 0 0 1em;
    }
}

//Message for <IE10
.browsehappy {
    margin: 0.4em 0;
    background: #ccc;
    color: #000;
    padding: 0.4em;
    font-size: 1.2em;
    a {
        font-size: 1em;
        padding-bottom: 4px;
    }
}

//Colorbox styles
@import "colorbox.scss";